#root {
     margin: 0 auto;
     text-align: center;
     font-family: "Calibri";
     font-size: 1rem;
}

.jokeList {
     list-style: none;
     text-align: left;
     padding: 1rem;
     margin: 1rem;
     border: 2px solid yellow;
     border-radius: 3rem;
     background-color: white;
     color: black;
     font-size: 1.25rem;
}

.jokeinput{
     padding: 10px;
     padding-left: 1rem;
     font-family: "Calibri";
     border: 2px solid white;
     border-radius: 2rem;
     font-size: 1rem;
     margin-bottom: 1rem;
}